stages:
  - test

go_test:
  stage: test
  image: golang:1.20
  script:
    - cd go
    - go mod tidy
    - go test
  only:
    - main
    - merge_requests

python_test:
  stage: test
  image: python:3.11
  script:
    - cd python
    - pip install -r requirements.txt
    - PYTHONPATH=.. python -m unittest test_unilog.py
  only:
    - main
    - merge_requests